# Backend
backend/target/
backend/.mvn/
*.class
*.jar
backend/src/main/resources/application.yml

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
backend-error.txt